// start overlay
.site-overlay
// end overlay
// start site nav
nav.site-nav.w-100.d-flex.justify-content-end
  #site-primary-nav.site-primary-nav.is-fixed
    ul.nav-group
        li
            a(href=baseURL+'index.html' class={"selected" : pageActive === 'beranda'}) Beranda
        li
            a(href=baseURL+'informasi-keuangan/' class={"selected" : pageActive === 'informasi-keuangan'}) Informasi Keuangan
        li
            a(href=baseURL+'pelatihan/' class={"selected" : pageActive === 'pelatihan'}) Pelatihan
        
        li.has-children.small-children
            a(class={"selected" : pageActive === 'negara-tujuan'}) Negara Tujuan
            ul.site-secondary-nav.has-see-all.is-hidden
                li.go-back
                    a(href='#0') Menu
                li.see-all
                    a.anchor.arrow-move(href=baseURL+'negara/')
                        | Selengkapnya
                        i.icon-angle-right
                li
                    a.site-nav-item(href=baseURL+"negara/korea-selatan/")
                        | Korea Selatan
                li
                    a.site-nav-item(href=baseURL+"negara/arab-saudi/")
                        | Arab Saudi
                li
                    a.site-nav-item(href=baseURL+"negara/malaysia/")
                        | Malaysia
                li
                    a.site-nav-item(href=baseURL+"negara/taiwan/")
                        | Taiwan
                
                li
                    a.site-nav-item(href=baseURL+"negara/singapura/")
                        | Singapura

                li
                    a.site-nav-item(href=baseURL+"negara/hongkong/")
                        | Hongkong
        li
            a(href=baseURL+"artikel/" class={"selected" : pageActive === 'artikel'}) Artikel
            
        li
            button.btn.btn-cta-header.btn-primary(type="button" data-bs-toggle="modal" data-bs-target="#layananAduan") 
                i.bi.bi-telephone-fill.me-2.text-white
                | Layanan Aduan
    //- ul.nav-group
    //-   li.has-children.small-children.first-xs
    //-     a
    //-       i.icon-web
    //-       |  EN
    //-     ul.site-secondary-nav.is-hidden
    //-       li.go-back
    //-         a(href='#0') Menu
    //-       li
    //-         a(href='#') Bahasa Indonesia
    //-       li
    //-         a.lang-active(href='#') English
  // primary-nav
// site-nav
