
section 
    .container.pb-4.pb-lg-5.px-4.px-md-0
        .row
            aside.jari-sidebar-nav.col-lg-3.mb-4
                nav.pmi-scrollspy-nav 
                    ol
                        li 
                            a(href="#PentingnyaMenabung") Pentingnya Menabung
                        
                        li 
                            a(href="#KesalahanUmumMenabung") Kesalahan Umum Ketika Menabung

                        //- li 
                        //-     a(href="#RagamTabungan") Ragam Tabungan yang Dapat Digunakan

                        //- li 
                        //-     a(href="#MemilihTabungan") Memilih Tabungan Sesuai Kebutuhan

                        //- li 
                        //-     a(href="#LangkahMenabung") Langkah Menabung di Bank
                        
                        //- li 
                        //-     a(href="#TipsMenabung") Tips Menabung Asyik

                        //- li 
                        //-     a(href="#TantanganMenanbung") Tantangan Menabung 30 Hari

            article.jari-sidebar-content.col-lg-9.content-article
                section#PentingnyaMenabung.pmi-scrollspy-content
                    h4 Pentingnya Menabung
                    img.mw-100.my-3(src=baseURL+"img/img-queue-people.svg", alt="")
                    p Menabung merupakan kegiatan menyisihkan sebagian uang dari pendapatan sehari-hari tujuannya untuk menyiapkan dana cadangan atau mencapai suatu tujuan keuangan di masa yang akan datang.
                    h6 Menabung Itu Penting Banget
                    ol 
                        li Melatih kedisiplinan & lebih menghargai uang
                        li Menabung dapat memenuhi keinginan kita yang tertunda
                        li Menabung bisa meningkatkan standar hidup keluarga di masa yang akan datang
                        li Menabung bisa memberikan ketenangan (karena menjauhkan dari hutang ketika berada dalam kondisi yang kepepet)
                    h6 Menabung Pangkal Kaya
                    p Dengan menabung mungkin kita tidak akan menjadi kaya dalam sekejap. Tapi dengan menabung, kita akan menjadi pribadi yang lebih <b>MANDIRI</b> dan <b>BERDAYA</b>.
                    //- Load sample paragraph
                    //- include ../../includes/sample_lorem_ipsum.pug
                    hr
                
                section#KesalahanUmumMenabung.pmi-scrollspy-content
                    h4 Kesalahan Umum Ketika Menabung
                    img.mw-100.my-3(src=baseURL+"img/img-queue-people.svg", alt="")
                    div.p-2
                        h5 (I) Menabung Tanpa Tujuan Yang Jelas (Ilustrasi Bu Mira Dan Pak Dani):
                        p Biasaya Orang yang hanya menabung tanpa memiliki tujuan yang jelas tidak akan maksimal ketika menabung.
                        p <b>Bu Mira</b>: "Saya memiliki tujuan membeli HP baru 3 bulan yang akan datang. Harga handphone tersebut adalah 4 juta. Saya sudah mendapatkan gambaran berapa besaran uang yang harus saya tabung untuk mencapai tujuan tersebut."
                        p <b>Pak Dani</b>: "Wah, besok waktunya gajian, enaknya beli apa ya? Kayaknya waktu itu ada diskon sepatu di toko X, besok coba kesana ah!"
                        p Karena Bu Mira sudah memiliki tujuan, beliau akan mengusahakan menabung secara konsisten untuk mencapai tujuan tersebut. Berbeda dengan pak Dani, beliau akan mengusahakan menabung secara konsisten karena ia tidak memiliki keinginan yang kuat untuk mencapai sebuah tujuan.
                    div.p-2
                        h5 (II) Mengganggap Bahwa Menabung Dengan Nominal Kecil Tidak Memiliki Dampak Apapun
                        figure
                            img.w-75.figure-img(src=baseURL+"img/info-keuangan/menabung-kecil.png", alt="Langkah besar dimulai dari langkah kecil")
                        blockquote.blockquote
                            p "Langkah Besar Dimulai Dari Langkah Kecil"
                    div.p-2
                        h5 (III) Sering Mengambil Uang Yang Ada Di Tabungan 
                        figure
                            img.w-75.figure-img(src=baseURL+"img/info-keuangan/ambil-tabungan.png", alt="Sering Mengambil Uang Yang Ada Di Tabungan ")


                    //- hr

                //- section#RagamTabungan.pmi-scrollspy-content
                //-     h4 Ragam Tabungan yang Dapat Digunakan
                //-     img.mw-100.my-3(src=baseURL+"img/img-queue-people.svg", alt="")

                //-     //- Load sample paragraph
                //-     include ../../includes/sample_lorem_ipsum.pug
                //-     hr

                //- section#MemilihTabungan.pmi-scrollspy-content
                //-     h4 Memilih Tabungan Sesuai Kebutuhan
                //-     img.mw-100.my-3(src=baseURL+"img/img-queue-people.svg", alt="")

                //-     //- Load sample paragraph
                //-     include ../../includes/sample_lorem_ipsum.pug
                //-     hr

                //- section#LangkahMenabung.pmi-scrollspy-content
                //-     h4 Langkah Menabung di Bank
                //-     img.mw-100.my-3(src=baseURL+"img/img-queue-people.svg", alt="")

                //-     //- Load sample paragraph
                //-     include ../../includes/sample_lorem_ipsum.pug
                //-     hr

                //- section#TipsMenabung.pmi-scrollspy-content
                //-     h4 Tips Menabung Asyik
                //-     img.mw-100.my-3(src=baseURL+"img/img-queue-people.svg", alt="")

                //-     //- Load sample paragraph
                //-     include ../../includes/sample_lorem_ipsum.pug
                //-     hr

                //- section#TantanganMenanbung.pmi-scrollspy-content
                //-     h4 Tantangan Menabung 30 Hari
                //-     img.mw-100.my-3(src=baseURL+"img/img-queue-people.svg", alt="")

                //-     //- Load sample paragraph
                //-     include ../../includes/sample_lorem_ipsum.pug


