
section 
    .container.pb-4.pb-lg-5.px-4.px-md-0
        .row
            aside.jari-sidebar-nav.col-lg-3.mb-4
                nav.pmi-scrollspy-nav 
                    ol
                        li 
                            a(href="#KonsepUtang") Mengenal Konsep Utang
                        
                        li 
                            a(href="#UtangBaikBuruk") Utang Baik dan Utang Buruk

                        li 
                            a(href="#KiatBijakBerhutang") Kiat-kiat Bijak Dalam Berhutang

                        li 
                            a(href="#TipsTerlilitHutang") Tips bagi yang Terlilit Utang

                        li 
                            a(href="#IdentifikasiPinjol") Identifikasi Pinjol Ilegal dan Legal

            article.jari-sidebar-content.col-lg-9.content-article
                section#KonsepUtang.pmi-scrollspy-content
                    h4 Mengenal Konsep Utang
                    img.mw-100.my-3(src=baseURL+"img/img-queue-people.svg", alt="")
                    
                    //- Load sample paragraph
                    include ../../includes/sample_lorem_ipsum.pug
                    hr
                
                section#UtangBaikBuruk.pmi-scrollspy-content
                    h4 Utang Baik dan Utang Buruk
                    img.mw-100.my-3(src=baseURL+"img/img-queue-people.svg", alt="")

                    //- Load sample paragraph
                    include ../../includes/sample_lorem_ipsum.pug

                    hr

                section#KiatBijakBerhutang.pmi-scrollspy-content
                    h4 Kiat-kiat Bijak Dalam Berhutang
                    img.mw-100.my-3(src=baseURL+"img/img-queue-people.svg", alt="")

                    //- Load sample paragraph
                    include ../../includes/sample_lorem_ipsum.pug
                    hr

                section#TipsTerlilitHutang.pmi-scrollspy-content
                    h4 Tips bagi yang Terlilit Utang
                    img.mw-100.my-3(src=baseURL+"img/img-queue-people.svg", alt="")

                    //- Load sample paragraph
                    include ../../includes/sample_lorem_ipsum.pug
                    hr

                section#IdentifikasiPinjol.pmi-scrollspy-content
                    h4 Identifikasi Pinjol Ilegal dan Legal
                    img.mw-100.my-3(src=baseURL+"img/img-queue-people.svg", alt="")

                    //- Load sample paragraph
                    include ../../includes/sample_lorem_ipsum.pug




