section
  .container.py-4.py-lg-5.px-4.px-md-0
    .row
      .col-12.col-lg-6.mb-3.mb-lg-4
        a.d-flex.border.p-4.gap-3.rounded.card-link-box(href=baseURL+"negara/malaysia/tata-cara-pengiriman-uang-ke-indonesia.html") 
          .col-4
            img(src=baseURL+"img/man-hold-phone.svg", alt="")
          .col-8
            h5 Tata Cara Pengiriman Uang ke Indonesia
            p.fs-7.text-secondary Temukan komunitas masyarakat Indonesia di negara tujuan untuk membangun jaringan sosial yang kuat. Temukan dukungan dan informasi dari sesama pekerja migran, serta kegiatan yang dapat mempererat rasa kebersamaan dan identitas budaya.
            .d-flex.fs-7.text-primary
                | Selengkapnya 
                i.bi.bi-chevron-right

      .col-12.col-lg-6.mb-3.mb-lg-4
        a.d-flex.border.p-4.gap-3.rounded.card-link-box(href="")
          .col-4
            img(src=baseURL+"img/man-on-desk2.svg", alt="")
          .col-8
            h5 Administrasi dan Dokumen
            p.fs-7.text-secondary Informasi  mengenai administrasi dan dokumen, mulai dari layanan kependudukan hingga pengurusan paspor dan SKCK. Panduan untuk layanan kekonsuleran, termasuk pencatatan kelahiran dan tarif biaya keimigrasian terbaru. 
            .d-flex.fs-7.text-primary
                | Selengkapnya 
                i.bi.bi-chevron-right

      .col-12.col-lg-6.mb-3.mb-lg-4
        a.d-flex.border.p-4.gap-3.rounded.card-link-box(href="")
          .col-4
            img(src=baseURL+"img/woman-listening-music.svg", alt="")
          .col-8
            h5 Budaya Masyarakat
            p.fs-7.text-secondary Jelajahi kekayaan budaya masyarakat di negara tujuan, yang dipengaruhi oleh tradisi dan kebiasaan lokal. Kenali juga hari libur nasional yang dirayakan, yang menawarkan kesempatan untuk merasakan perayaan dan interaksi sosial yang lebih mendalam.
            .d-flex.fs-7.text-primary
                | Selengkapnya 
                i.bi.bi-chevron-right

      .col-12.col-lg-6.mb-3.mb-lg-4
        a.d-flex.border.p-4.gap-3.rounded.card-link-box(href="")
          .col-4
            img(src=baseURL+"img/woman-holding-paper.svg", alt="")
          .col-8
            h5 Regulasi / Ketentuan Berlaku
            p.fs-7.text-secondary Pelajari regulasi dan ketentuan yang berlaku untuk pekerja migran, termasuk kontrak kerja dan hukum yang harus dipatuhi. Dapatkan informasi tentang ketentuan pengiriman barang, layanan bantuan hukum.
            .d-flex.fs-7.text-primary
                | Selengkapnya 
                i.bi.bi-chevron-right

      .col-12.col-lg-6.mb-3.mb-lg-4
        a.d-flex.border.p-4.gap-3.rounded.card-link-box(href="")
          .col-4
            img(src=baseURL+"img/man-pose-1.svg", alt="")
          .col-8
            h5 Kepulangan Ke Indonesia
            p.fs-7.text-secondary Persiapkan kepulangan Anda ke Indonesia dengan memahami proses administrasi dan dokumen yang diperlukan. Dapatkan informasi tentang layanan pemulangan, pengiriman barang, dan dukungan bagi pekerja migran yang kembali ke tanah air.
            .d-flex.fs-7.text-primary
                | Selengkapnya 
                i.bi.bi-chevron-right

      .col-12.col-lg-6.mb-3.mb-lg-4
        a.d-flex.border.p-4.gap-3.rounded.card-link-box(href="")
          .col-4
            img(src=baseURL+"img/man-holding-note.svg", alt="")
          .col-8
            h5 Lokasi Perwakilan Indonesia
            p.fs-7.text-secondary Ketahui lokasi perwakilan Indonesia di negara tujuan yang siap memberikan layanan konsuler dan dukungan bagi warga negara. Dapatkan informasi tentang prosedur layanan dan kontak penting untuk membantu Anda selama tinggal di luar negeri.
            .d-flex.fs-7.text-primary
                | Selengkapnya 
                i.bi.bi-chevron-right

      .col-12.col-lg-6.mb-3.mb-lg-4
        a.d-flex.border.p-4.gap-3.rounded.card-link-box(href="")
          .col-4
            img(src=baseURL+"img/woman-send-paper2.svg", alt="")
          .col-8
            h5 Komunitas Masyarakat Indonesia
            p.fs-7.text-secondary Temukan komunitas masyarakat Indonesia di negara tujuan untuk membangun jaringan sosial yang kuat. Temukan dukungan dan informasi dari sesama pekerja migran, serta kegiatan yang dapat mempererat rasa kebersamaan dan identitas budaya.
            .d-flex.fs-7.text-primary
              
                | Selengkapnya 
                i.bi.bi-chevron-right