section 
    .container.py-4.py-lg-5.px-4.px-md-0
        .d-flex.align-items-center.justify-content-between
            div
                h3 Menata Masa Depan dengan Pengelolaan Keuangan
            div.d-flex.align-items-center.gap-3
                //- a.btn.btn-outline-primary(href="#") Selengkapnya
                .d-flex.gap-1
                    button.btn.button-swiper.swiper-tab-prev
                        i.bi.bi-chevron-left
                    button.btn.button-swiper.swiper-tab-next
                        i.bi.bi-chevron-right

        .swiper.tabNavSwiper.tab-nav-swiper.mt-4(style='--swiper-navigation-color: #fff; --swiper-pagination-color: #fff')
            .swiper-wrapper
                .swiper-slide.rounded-2
                    .d-flex.p-3
                        div
                            img.tab-nav-icon(src=baseURL+"img/icon-duotone-1.svg" alt="Jari PMI Tahapan Kehidupan")
                        div.ps-2 
                            h6 Tahapan Kehidupan
                            p.fs-7.text-secondary Di Setiap Tahapan Kehidupan, Kita Selalu Bersinggungan Dengan Uang
                .swiper-slide.rounded-2
                    .d-flex.p-3
                        div 
                            img.tab-nav-icon(src=baseURL+"img/icon-duotone-2.svg" alt="Mengelola Keuangan untuk Mencapai Tujuan")
                        div.ps-2 
                            h6 Mengelola Keuangan untuk Mencapai Tujuan
                            p.fs-7.text-secondary Dengan Bijak Atur Keuangan Untuk Capai Tujuan Finansial Di Masa Depan.
                .swiper-slide.rounded-2
                    .d-flex.p-3
                        div 
                            img.tab-nav-icon(src=baseURL+"img/icon-duotone-3.svg" alt="Kebiasaaan Baik Mengatur Uang")
                        div.ps-2 
                            h6 Kebiasaaan Baik Mengatur Uang
                            p.fs-7.text-secondary Hal Baik Membantu Kita Untuk Mencapai Kesejahteraan Keuangan.
                .swiper-slide.rounded-2
                    .d-flex.p-3
                        div 
                            img.tab-nav-icon(src=baseURL+"img/icon-duotone-3.svg" alt="Dampak Kebiasaan Buruk Mengatur Keuangan")
                        div.ps-2 
                            h6 Dampak Kebiasaan Buruk Mengatur Keuangan
                            p.fs-7.text-secondary Hindari Hal Ini Untuk Menghindari Keuangan Tidak Stabil.
                .swiper-slide.rounded-2
                    .d-flex.p-3
                        div 
                            img.tab-nav-icon(src=baseURL+"img/icon-duotone-4.svg" alt="Sehat Keuangan")
                        div.ps-2 
                            h6 Sehat Keuangan
                            p.fs-7.text-secondary Ketahui Kondisi Keuangan-mu Saat Ini Dan Rencanakan Masa Depan Lebih Baik
                .swiper-slide.rounded-2
                    .d-flex.p-3
                        div 
                            img.tab-nav-icon(src=baseURL+"img/icon-duotone-5.svg" alt="Prioritas Keuangan")
                        div.ps-2 
                            h6 Prioritas Keuangan
                            p.fs-7.text-secondary Urutkan Kebutuhan Dengan Keinginan dan Impian Dimasa Depan Agar Semua Dapat Tercapai.
                .swiper-slide.rounded-2
                    .d-flex.p-3
                        div 
                            img.tab-nav-icon(src=baseURL+"img/icon-duotone-6.svg" alt="Tujuh Langkah Mudah Mengatur Uang")
                        div.ps-2 
                            h6 Tujuh Langkah Mudah Mengatur Uang
                            p.fs-7.text-secondary Untuk Mencapai Keuangan Masa Depan, Ikuti Langkah Mudah Ini
                .swiper-slide.rounded-2
                    .d-flex.p-3
                        div 
                            img.tab-nav-icon(src=baseURL+"img/icon-duotone-7.svg" alt="Mempersiapkan Hari Tua")
                        div.ps-2 
                            h6 Mempersiapkan Hari Tua
                            p.fs-7.text-secondary Nikmati Hari Tua Dengan  Keuangan Sehat Yang Terencana Sedari Muda

            //- .swiper-button-next
            //- .swiper-button-prev
        .swiper.tabContentSwiper.tab-content-swiper.mt-3(thumbsslider='')
            .swiper-wrapper
                .swiper-slide.rounded-2
                    .row.p-3.p-lg-4
                        .col-12.col-lg-5.p-3
                            figure
                                img.mw-100.figure-img(src=baseURL+"img/home/tahapan-kehidupan.png" alt="Tahapan Kehidupan")
                                figcaption.figure-caption Seluruh Tahapan Kehidupan Membutuhkan Keuangan Yang Sehat.
                        .col-12.col-lg-7.p-3
                            //- h5 Tahapan Kehidupan Manusia
                            p <b>Tahapan kehidupan finansial</b> sangat erat kaitannya dengan pengelolaan keuangan yang bijak. Setiap tahap dalam hidup, mulai dari lulus sekolah hingga pensiun, selalu berhubungan dengan keputusan finansial yang penting. Sebagai calon pekerja migran, memahami kebutuhan dan tanggung jawab keuangan di setiap tahap akan membantu Anda merencanakan masa depan dengan lebih baik. Pada tahap awal, seperti lulus sekolah dan memulai karier, menabung untuk kebutuhan sehari-hari dan tujuan jangka panjang sangat krusial. Saat Anda menikah dan memulai sebuah keluarga, tanggung jawab finansial bertambah seperti membeli rumah dan biaya pendidikan anak.
                            p Seiring bertambahnya usia, persiapan untuk masa pensiun yang sejahtera dan dana kesehatan harus menjadi prioritas. Selain itu, perjalanan ibadah dan warisan juga merupakan aspek keuangan yang perlu dipikirkan. Setiap keputusan keuangan yang Anda buat di masa produktif akan memengaruhi kualitas hidup Anda di masa tua. Oleh karena itu, rencanakan secara matang dan disiplin dalam mengatur keuangan, para pekerja migran dapat mencapai kesejahteraan finansial, memastikan tidak hanya diri sendiri, tetapi juga keluarga, terlindungi di setiap tahapan kehidupan.
                .swiper-slide.rounded-2
                    .row.p-3.p-lg-4
                        .col-12.col-lg-5.p-3
                            figure
                                img.mw-100.figure-img(src=baseURL+"img/home/mengelola-keuangan.png" alt="Mengelola Keuangan untuk Mencapai Tujuan")
                        .col-12.col-lg-7.p-3
                            //- h5 Mengelola Keuangan untuk Mencapai Tujuan
                            p 
                                b Mengelola Keuangan untuk Mencapai Tujuan Keuangan
                                br
                                | Mengelola keuangan adalah langkah penting untuk mencapai tujuan finansial jangka panjang. Kebutuhan hidup memang tidak terbatas, sedangkan sumber daya untuk memenuhinya terbatas. Maka, perlu ada perencanaan yang matang agar pengeluaran sejalan dengan pemasukan. Dalam proses ini, ada faktor risiko yang perlu dipertimbangkan, serta kemampuan untuk menunda keinginan demi manfaat yang lebih besar di masa depan. Misalnya, menahan diri dari pengeluaran yang tidak perlu hari ini untuk memastikan tabungan yang cukup untuk pendidikan anak atau pensiun.
                            p 
                                b Perbedaan Pengelolaan Keuangan yang Baik dan Buruk
                                br 
                                | Tanpa pengelolaan keuangan yang baik, seseorang dapat terjebak dalam siklus utang akibat pengeluaran yang melebihi pemasukan, sehingga terpaksa membayar bunga yang semakin memberatkan. Sebaliknya, pengelolaan yang baik memungkinkan kita untuk mengontrol pengeluaran, menambah pemasukan melalui usaha atau investasi, dan menabung secara teratur. Dengan strategi ini, pekerja migran dapat mencapai stabilitas keuangan, menghindari tekanan finansial, dan membangun masa depan yang lebih aman dan nyaman.
                .swiper-slide
                    .row.p-3.p-lg-4
                        .col-12.col-lg-5.p-3
                            figure
                                img.mw-100.figure-img(src=baseURL+"img/home/kebiasaan-baik.png" alt="Kebiasaan Baik Mengatur Uang")
                        .col-12.col-lg-7.p-3
                            h5 Kebiasaan Baik Mengatur Uang
                            p 
                                | Membentuk kebiasaan baik dalam mengelola keuangan adalah kunci untuk kesejahteraan finansial. 
                            p 
                                | Kesejahtraan Finansial dapat mencapai kemerdekaan finansial yang memungkinkan hidup lebih nyaman tanpa tekanan ekonomi. Semua itu bisa dicapai dengan melakukan hal sederhana berikut ini : 
                            ul
                                li - Tidak mudah berutang
                                li - Lebih bahagia & bersyukur
                                li - Punya tabungan
                                li - Merdeka secara finansial
                .swiper-slide
                    .row.p-3.p-lg-4
                        .col-12.col-lg-5.p-3
                            figure
                                img.mw-100.figure-img(src=baseURL+"img/home/kebiasaan-buruk.png" alt="Kebiasaan Buruk Dalam Mengatur Uang")
                        .col-12.col-lg-7.p-3
                            h5 Kebiasaan Buruk Dalam Mengatur Uang
                            p 
                               | Kebiasaan buruk dalam mengelola keuangan dapat berdampak serius, baik dalam jangka pendek maupun panjang. Dalam waktu dekat, hal ini bisa menyebabkan penumpukan utang dan kegagalan memenuhi kebutuhan dasar, seperti pendidikan anak. Sementara itu, dampak jangka panjangnya adalah ketidakmampuan menikmati pensiun yang nyaman karena masih terbebani kewajiban finansial. Pengelolaan keuangan yang baik sangat penting untuk memastikan stabilitas dan kenyamanan hidup di masa depan
                .swiper-slide
                    .row.p-3.p-lg-4
                        .col-12.col-lg-5.p-3
                            figure
                                img.mw-100.figure-img(src=baseURL+"img/home/mengelola-keuangan.png" alt="Mengelola Keuangan untuk Mencapai Tujuan")
                        .col-12.col-lg-7.p-3
                            h5 Sehat Keuangan Dengan Mengetahui Kondisi Keuangan Saat Ini
                            p 
                               | Penting bagi setiap individu, terutama pekerja migran, untuk secara rutin mengevaluasi kondisi keuangan mereka dengan menginventarisasi total harta dan utang yang dimiliki. Langkah ini mencakup memastikan bahwa total harta lebih besar dari utang, sehingga menghasilkan kekayaan bersih yang positif. Evaluasi yang rutin juga membantu dalam memantau pertumbuhan aset, mengendalikan utang, dan mempersiapkan tabungan darurat
                            p
                                b DAFTAR HARTA DAN UTANG SAYA…
                                ol 
                                    li 1. Mengetahui total uang yang kita miliki.
                                    li 2. Mengetahui berapa total utang/kewajiban kita.
                                    li 3. Apakah utang kita lebih besar dari harta?
                                h5.alert.alert-primary Kekayaan bersih = Total Harta - Utang (HARUS POSITIF)
                                b EVALUASI:
                                ol 
                                    li 1. Apakah pendapatan saya bisa menjadi aset/harta saya?
                                    li 2. Apakah utang saya semakin banyak setiap tahunnya?
                                    li 3. Apakah saya punya tabungan untuk Dana Darurat saya?
                .swiper-slide
                    .row.p-3.p-lg-4
                        .col-12.col-lg-5.p-3
                            figure
                                img.mw-100.figure-img(src=baseURL+"img/home/priortias-keuangan.png" alt="Prioritaskan Keuangan")
                        .col-12.col-lg-7.p-3
                            h5 Prioritaskan Keuangan
                            p Memahami perbedaan antara kewajiban, kebutuhan, dan keinginan sangat penting dalam pengelolaan keuangan yang sehat. Kewajiban mencakup pengeluaran yang tidak dapat dihilangkan atau dihemat, seperti zakat, cicilan utang, dan biaya pendidikan anak. Kebutuhan adalah pengeluaran yang diperlukan namun masih bisa ditekan, seperti konsumsi harian, transportasi, komunikasi, dan pakaian. Memahami batas pengeluaran untuk kebutuhan ini dapat membantu menjaga keseimbangan finansial.
                            p Di sisi lain, keinginan adalah pengeluaran yang dapat ditunda atau bahkan dihindari karena sifatnya yang tidak mendesak. Ini termasuk pengeluaran seperti jajan kekinian, belanja online, liburan, dan hobi. Dengan memilah pengeluaran dalam kategori ini, seseorang dapat fokus pada prioritas dan menghindari utang yang tidak perlu, yang akhirnya berkontribusi pada kesehatan finansial jangka panjang. Memiliki pengelolaan yang tepat atas ketiga kategori ini dapat membantu calon pekerja migran mencapai stabilitas keuangan dan memenuhi tujuan hidup mereka dengan lebih baik.
                .swiper-slide.rounded-2
                    .row.p-3.p-lg-4
                        .col-12.col-lg-5.p-3
                            figure
                                img.mw-100.figure-img(src=baseURL+"img/home/tujuh-langkah.png" alt="Tujuh Langkah Mudah Mengatur Uang")
                        .col-12.col-lg-7.p-3
                            h5 Tujuh Langkah Mudah Mengatur Uang
                            p Langkah pertama dalam mengelola keuangan adalah membuat anggaran belanja yang sesuai dengan pendapatan bulanan. Misalnya, dengan pendapatan Rp 1.000.000, dapat dibagi menjadi 5% untuk sedekah, 15% untuk tabungan atau dana darurat, dan 80% untuk biaya hidup serta cicilan. Selain itu, penting untuk selalu mencatat dan menyesuaikan alokasi anggaran dengan kebutuhan nyata setiap bulannya untuk menjaga disiplin keuangan.
                            p Bagi mereka yang pendapatannya tidak tetap, disarankan untuk membuat anggaran harian atau mingguan dan mencatat pemasukan serta pengeluaran. Salah satu cara untuk mempermudah adalah dengan memisahkan uang di beberapa amplop berdasarkan kebutuhan, tabungan, dan keinginan. Ini membantu memastikan bahwa setiap bagian dari pendapatan dikelola dengan lebih disiplin dan terkontrol, terutama jika memiliki pendapatan yang tidak tetap.
                .swiper-slide.rounded-2
                    .row.p-3.p-lg-4
                        .col-12.col-lg-5.p-3
                            figure
                                img.mw-100.figure-img(src=baseURL+"img/home/persiapan-hari-tua.png" alt="Mempersiapkan Hari Tua")
                        .col-12.col-lg-7.p-3
                            h5 Mempersiapkan Hari Tua
                            p Mempersiapkan hari tua adalah langkah penting yang perlu dilakukan sejak dini untuk menghadapi masa pensiun dengan tenang dan mandiri. Pensiun berarti seseorang berhenti bekerja karena usia atau kondisi kesehatan yang menurunkan produktivitas. Persiapan ini penting karena, rata-rata, orang pensiun pada usia 55 tahun sementara angka harapan hidup mencapai 72 tahun. Ini berarti ada sekitar 17 tahun yang perlu dihadapi tanpa pendapatan tetap.
                            p Selain itu, biaya hidup dan kesehatan cenderung meningkat seiring waktu, dan adanya inflasi akan menurunkan daya beli uang yang disimpan. Persiapan finansial yang matang membantu agar tidak perlu bergantung pada dukungan anak atau keluarga di masa tua. Dengan menabung atau berinvestasi sejak dini, seseorang dapat menjaga kemandirian finansial dan merencanakan masa pensiun yang sejahtera.
                        //- p Aenean maximus, nisl ut vulputate consequat, ipsum erat tincidunt felis, at pharetra massa dui sed quam. Nulla at ultrices lorem, a venenatis mauris. Morbi dictum lectus lectus, id gravida enim pharetra at. Nullam pellentesque dapibus felis, vehicula aliquam justo condimentum ac. Nullam consequat lectus at semper euismod. Sed augue nunc, vulputate ut ipsum nec, pellentesque porttitor erat. Ut aliquam in massa eu scelerisque. Nam porttitor eleifend velit vel cursus. Donec sed ultrices urna.
