section
    .container.py-4.py-lg-5.px-4.px-md-0
        .d-flex.align-items-center.justify-content-between
            div
                h3 Negara Tujuan PMI 
            div 
                a.btn.btn-outline-primary(href="#") Selengkapnya

        .swiper.countrySwiper.country-swiper.mt-4
            .swiper-wrapper 
                .swiper-slide 
                    .card.full-card.rounded-3
                        a.text-decoration-none(href=baseURL+"negara/arab-saudi")
                            .full-card-cover
                                img.card-img-top(loading='lazy' src=baseURL+'img/bg-saudi-arabia.webp' alt='Arab Saudi')
                            
                            .full-card-body.d-flex.p-3.align-items-center.justify-content-center
                                h3.title-country Arab Saudi

                .swiper-slide
                    .card.full-card.rounded-3
                        a.text-decoration-none(href=baseURL+"negara/hongkong")
                            .full-card-cover
                                img.card-img-top(loading='lazy' src=baseURL+'img/bg-hongkong.webp' alt='Hongkong')
                            
                            .full-card-body.d-flex.p-3.align-items-center.justify-content-center
                                h3.title-country Hongkong

                .swiper-slide
                    .card.full-card.rounded-3
                        a.text-decoration-none(href=baseURL+"negara/korea-selatan")
                            .full-card-cover
                                img.card-img-top(loading='lazy' src=baseURL+'img/bg-south-korea.webp' alt='Korea Selatan')
                            
                            .full-card-body.d-flex.p-3.align-items-center.justify-content-center
                                h3.title-country Korea Selatan 

                .swiper-slide
                    .card.full-card.rounded-3
                        a.text-decoration-none(href=baseURL+"negara/malaysia")
                            .full-card-cover
                                img.card-img-top(loading='lazy' src=baseURL+'img/bg-malaysia.webp' alt='Malaysia')
                            
                            .full-card-body.d-flex.p-3.align-items-center.justify-content-center
                                h3.title-country Malaysia 

                .swiper-slide
                    .card.full-card.rounded-3
                        a.text-decoration-none(href=baseURL+"negara/singapura")
                            .full-card-cover
                                img.card-img-top(loading='lazy' src=baseURL+'img/bg-singapore.webp' alt='Singapura')
                            
                            .full-card-body.d-flex.p-3.align-items-center.justify-content-center
                                h3.title-country Singapura 

                .swiper-slide
                    .card.full-card.rounded-3
                        a.text-decoration-none(href=baseURL+"negara/taiwan")
                            .full-card-cover
                                img.card-img-top(loading='lazy' src=baseURL+'img/bg-taiwan.webp' alt='Taiwan')
                            
                            .full-card-body.d-flex.p-3.align-items-center.justify-content-center
                                h3.title-country Taiwan