
section 
    .container.py-4.py-lg-5.px-4.px-md-0
        .d-flex.align-items-center.justify-content-between
            div
                h3 Produk Tabungan
            div.d-flex.align-items-center.gap-3
                //- a.btn.btn-outline-primary(href="#") Selengkapnya
                .d-flex.gap-1
                    button.btn.button-swiper.swiper-tab2-prev
                        i.bi.bi-chevron-left
                    button.btn.button-swiper.swiper-tab2-next
                        i.bi.bi-chevron-right

        .swiper.tabNav2Swiper.tab-nav-swiper.mt-4(style='--swiper-navigation-color: #fff; --swiper-pagination-color: #fff')
            .swiper-wrapper
                .swiper-slide.rounded-2
                    .d-flex.p-3
                        div
                            img.tab-nav-icon(src=baseURL+"img/icon-duotone-1.svg", alt="Jari PMI Tahapan Kehidupan")
                        div.ps-2 
                            h6 Ragam Tabungan yang dapat digunakan
                .swiper-slide.rounded-2
                    .d-flex.p-3
                        div 
                            img.tab-nav-icon(src=baseURL+"img/icon-duotone-2.svg", alt="Jari PMI Tahapan Kehidupan")
                        div.ps-2 
                            h6 Memilih Tabungan sesuai kebutuhan
                .swiper-slide.rounded-2
                    .d-flex.p-3
                        div 
                            img.tab-nav-icon(src=baseURL+"img/icon-duotone-3.svg", alt="Jari PMI Tahapan Kehidupan")
                        div.ps-2 
                            h6 Langkah mudah menabung di bank
                .swiper-slide.rounded-2
                    .d-flex.p-3
                        div 
                            img.tab-nav-icon(src=baseURL+"img/icon-duotone-4.svg", alt="Jari PMI Tahapan Kehidupan")
                        div.ps-2 
                            h6 Manfaat memiliki tabungan
                .swiper-slide.rounded-2
                    .d-flex.p-3
                        div 
                            img.tab-nav-icon(src=baseURL+"img/icon-duotone-5.svg", alt="Jari PMI Tahapan Kehidupan")
                        div.ps-2 
                            h6 Produk dan layanan Bank

        .swiper.tabContent2Swiper.tab-content-swiper.mt-3(thumbsslider='')
            .swiper-wrapper
                .swiper-slide
                    .p-3.p-lg-4.rounded-2
                        h5 Ragam Tabungan yang dapat digunakan
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fermentum ligula vel pharetra rutrum. Quisque pharetra consequat risus at commodo. Praesent finibus turpis ut luctus dictum. Maecenas luctus sed nunc at pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget ligula a eros porttitor dapibus. Nulla ullamcorper mauris non nisl aliquam, quis vestibulum nisi posuere. Duis ut diam et quam lobortis eleifend. Donec hendrerit metus sit amet pulvinar dignissim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                        p Aenean maximus, nisl ut vulputate consequat, ipsum erat tincidunt felis, at pharetra massa dui sed quam. Nulla at ultrices lorem, a venenatis mauris. Morbi dictum lectus lectus, id gravida enim pharetra at. Nullam pellentesque dapibus felis, vehicula aliquam justo condimentum ac. Nullam consequat lectus at semper euismod. Sed augue nunc, vulputate ut ipsum nec, pellentesque porttitor erat. Ut aliquam in massa eu scelerisque. Nam porttitor eleifend velit vel cursus. Donec sed ultrices urna.
                .swiper-slide
                    .p-3.p-lg-4.rounded-2
                        h5 Memilih Tabungan sesuai kebutuhan
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fermentum ligula vel pharetra rutrum. Quisque pharetra consequat risus at commodo. Praesent finibus turpis ut luctus dictum. Maecenas luctus sed nunc at pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget ligula a eros porttitor dapibus. Nulla ullamcorper mauris non nisl aliquam, quis vestibulum nisi posuere. Duis ut diam et quam lobortis eleifend. Donec hendrerit metus sit amet pulvinar dignissim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                        p Aenean maximus, nisl ut vulputate consequat, ipsum erat tincidunt felis, at pharetra massa dui sed quam. Nulla at ultrices lorem, a venenatis mauris. Morbi dictum lectus lectus, id gravida enim pharetra at. Nullam pellentesque dapibus felis, vehicula aliquam justo condimentum ac. Nullam consequat lectus at semper euismod. Sed augue nunc, vulputate ut ipsum nec, pellentesque porttitor erat. Ut aliquam in massa eu scelerisque. Nam porttitor eleifend velit vel cursus. Donec sed ultrices urna.
                .swiper-slide
                    .p-3.p-lg-4.rounded-2
                        h5 Langkah mudah menabung di bank
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fermentum ligula vel pharetra rutrum. Quisque pharetra consequat risus at commodo. Praesent finibus turpis ut luctus dictum. Maecenas luctus sed nunc at pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget ligula a eros porttitor dapibus. Nulla ullamcorper mauris non nisl aliquam, quis vestibulum nisi posuere. Duis ut diam et quam lobortis eleifend. Donec hendrerit metus sit amet pulvinar dignissim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                        p Aenean maximus, nisl ut vulputate consequat, ipsum erat tincidunt felis, at pharetra massa dui sed quam. Nulla at ultrices lorem, a venenatis mauris. Morbi dictum lectus lectus, id gravida enim pharetra at. Nullam pellentesque dapibus felis, vehicula aliquam justo condimentum ac. Nullam consequat lectus at semper euismod. Sed augue nunc, vulputate ut ipsum nec, pellentesque porttitor erat. Ut aliquam in massa eu scelerisque. Nam porttitor eleifend velit vel cursus. Donec sed ultrices urna.
                .swiper-slide
                    .p-3.p-lg-4.rounded-2
                        h5 Manfaat memiliki tabungan
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fermentum ligula vel pharetra rutrum. Quisque pharetra consequat risus at commodo. Praesent finibus turpis ut luctus dictum. Maecenas luctus sed nunc at pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget ligula a eros porttitor dapibus. Nulla ullamcorper mauris non nisl aliquam, quis vestibulum nisi posuere. Duis ut diam et quam lobortis eleifend. Donec hendrerit metus sit amet pulvinar dignissim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                        p Aenean maximus, nisl ut vulputate consequat, ipsum erat tincidunt felis, at pharetra massa dui sed quam. Nulla at ultrices lorem, a venenatis mauris. Morbi dictum lectus lectus, id gravida enim pharetra at. Nullam pellentesque dapibus felis, vehicula aliquam justo condimentum ac. Nullam consequat lectus at semper euismod. Sed augue nunc, vulputate ut ipsum nec, pellentesque porttitor erat. Ut aliquam in massa eu scelerisque. Nam porttitor eleifend velit vel cursus. Donec sed ultrices urna.
                .swiper-slide
                    .p-3.p-lg-4.rounded-2
                        h5 Produk dan layanan Bank
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fermentum ligula vel pharetra rutrum. Quisque pharetra consequat risus at commodo. Praesent finibus turpis ut luctus dictum. Maecenas luctus sed nunc at pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget ligula a eros porttitor dapibus. Nulla ullamcorper mauris non nisl aliquam, quis vestibulum nisi posuere. Duis ut diam et quam lobortis eleifend. Donec hendrerit metus sit amet pulvinar dignissim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                        p Aenean maximus, nisl ut vulputate consequat, ipsum erat tincidunt felis, at pharetra massa dui sed quam. Nulla at ultrices lorem, a venenatis mauris. Morbi dictum lectus lectus, id gravida enim pharetra at. Nullam pellentesque dapibus felis, vehicula aliquam justo condimentum ac. Nullam consequat lectus at semper euismod. Sed augue nunc, vulputate ut ipsum nec, pellentesque porttitor erat. Ut aliquam in massa eu scelerisque. Nam porttitor eleifend velit vel cursus. Donec sed ultrices urna.
